.point {
}

.point-block {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-radius: 16px;
  transform: translate(-10px, -10px);
  box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px;
  background-color: #ffffff;
}
